body, html {
    height: 100%;
    margin: 0; 
    font-size: 16px;
    font-family:"Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;

    /* Fixed is what makes the parallax scrolling effect. */
    /* To return the photos to normal style, change background-attachment to scroll." */
}

.pimg1 {
    background-image:url(../img/australia.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image:url(../img/sydney.jpg);
    min-height: 400px;
}

.pimg3 {
    background-image:url(../img/turtle.jpg);
    min-height: 400px;
}

.pimg4 {
    background-image:url(../img/luckybay.jpg);
    min-height: 400px;
}

.pimg5 {
    background-image:url(../img/wine.jpg);
    min-height: 400px;
}

.pimg6 {
    background-image:url(../img/mcg.jpg);
    min-height: 400px;
}
.section {
    text-align: center;
    padding: 50px 80px; /* First number is top to bottom, second number is left to right. */
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 36px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: transparent;
    padding: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.wrapper > div.left {
    background:#282e34;
    padding: 50px 80px;
    color: #f4f4f4;
}

.wrapper > div.right {
    background:#282e34;
    padding: 20% 80px;
    text-align: center;
    color: #f4f4f4;
}

